<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>AuthImageServlet</servlet-name>
    <servlet-class>com.tzh.servlet.AuthImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AuthImageServlet</servlet-name>
    <url-pattern>/servlet/AuthImageServlet</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.tzh.servlet.CheckServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
</web-app>